$color-primary: #0ff0fc;
$color-secondary: #ff9800;
$color-font: #1e1e1e;
$color-dim-font: #6e6d7c;
$color-background: #eeeeee;
$color-back-modal: #353535;

$color-error: #dc3545;
$color-success: #198754;
