@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.commonListItem {
  @include flex($gap: 2rem);
  width: 80%;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 2rem 2rem 4rem;
  border-radius: 1rem;

  video {
    width: 100%;
  }

  .details {
    width: 100%;
    box-sizing: border-box;
    padding: 0 1rem;
    @include flex($dir: row, $jc: space-between);
    color: #fff;
    font-size: 1.4rem;

    a span {
      font-size: 2rem;
    }
  }

  .rightPosition {
    justify-content: flex-end;
  }

  .tagsList {
    color: #fff;
    margin: 0;
  }
}
