@import './styles/mixins.scss';
@import './styles/normalize.scss';
@import './styles/variables.scss';

html {
  font-size: 10px;
  font-family: Verdana, Georgia, sans-serif;
}

body {
  margin: 0 auto;
  font-size: 1.4rem;
  background-color: $color-background;
}

main {
  position: relative;
  margin: 0 auto;
}

a {
  color: inherit;
}

.activeLink {
  color: $color-primary;
}
